#body-container {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-areas:
		"nav body";
	grid-template-columns: 250px 1fr;
}

#index-nav {
	grid-area: nav;
	background-color: #BE4F23;
	height: 100%;
	width: 250px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#logo-container > #logo {
	margin: 10px auto;
	position: relative;
}

#logo-container {
	width: 100%;
	height: 90px;
	position: relative;
	display: flex;
}

.nav-button {
	border: none;
	background-color: #BE4F23;
	height: 46px;
	width: 100%;
	color: white;
	cursor: pointer;
}

.nav-button:hover:not(.selected) {
	background-color: #d9d9d994;
}

#index-nav form.ghost-element {
	width: inherit;
}

#display-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 80px auto;
}

#import-form-container {
	width: 100%;
	height: 100%;
	display: flex;
}

#import-form {
	margin: auto;
	height: 300px;
	width: 500px;
	background-color: #505BF3;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

#form-content-wrapper > div {
	display: flex;
	flex-direction: column;
	height: 50px;
	width: 100%;
}

.nav-button.selected {
	background-color: white;
	color: #BE4F23;
}

#display-header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	/* column-gap: 63px; */
	padding: 0 200px 0 60px;
	justify-content: space-around;
}

button {
	cursor: pointer;
}

#display-header > button {
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: bold;
	color: #be4f2382;
	padding: 0 20px 10px 20px;
	transition: color 0.5s;
	position: relative;
}

#display-header > button.selected {
	color: #BE4F23;
	transition: color 0.5s;
}

#display-header > button:hover {
	color: #BE4F23;
	transition: color 0.5s;
}

#display-header > button.selected > .bottom-border {
	border-bottom: 2px solid #BE4F23;
	width: 100%;
	left: 0;
}

.bottom-border {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
}

@keyframes displayBtnHover {
	from {
		border-bottom: 2px solid transparent;
		left: 50%;
		width: 0;
	}
	to {
		border-bottom: 2px solid #BE4F23;
		left: 0;
		width: 100%;
	}
}

@keyframes displayBtn {
	from {
		border-bottom: 1px solid #BE4F23;
		left: 0;
		width: 100%;
	}
	to {
		border-bottom: 1px solid transparent;
		left: 50%;
		width: 0;
	}
}

@keyframes smoothDisplay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.stop-animation {
	animation-duration: 0s !important;
}

#display-header > button:not(.selected):hover > .bottom-border {
	animation-name: displayBtnHover;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}

#display-header > button:not(.selected) > .bottom-border {
	animation-name: displayBtn;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}

#display-data-container > div {
	display: none;
	opacity: 0;
	animation: smoothDisplay ease-in-out 0.25s forwards;
}

#filter-btn {
	width: min-content;
	height: auto;
}

#student-table-container {
	/* padding: 17px 0 0 0; */
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

#student-search-bar {
	width: 470px;
	height: 23px;
	padding: 0 0 0 50px;
	border-radius: 8px;
	outline: none;
	border: 1px solid #BE4F23;
	position: relative;
	z-index: 5;
}

#student-search-bar::-webkit-input-placeholder {
	color: #be4f2382;
}

#search-bar-wrapper {
	position: relative;
}

#search-bar-wrapper::before {
	content: "";
	position: absolute;
	left: 7px;
	top: 0;
	bottom: 0;
	display: block;
	height: 23px;
	width: 23px;
	background-image: url("../images/loupe.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
	z-index: 10;
}

#search-filter-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 10px;
}

#filter-btn {
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	border-radius: 8px;
	background-color: transparent;
	transition-duration: 0.25s;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

#filter-btn:hover {
	box-shadow: #80808070 0px 0px 5px 0px;
	transition-duration: 0.25s;
}

#filter-btn:active {
	transform: translate(1px, 1px);
}

#filter-btn > img {
	clip-path: polygon(0 12px, 24px 12px, 24px 28px, 0 28px);
}

input[type=search]::-webkit-search-cancel-button {
	cursor: pointer;
}

#student-semesters-selector {
	margin-top: 1em;
}

.semester-button {
	width: 150px;
	height: 37px;
	border: none;
	background-color: transparent;
	color: #BE4F23;
	border-radius: 3px;
	transition-duration: 0.25s;
}

#semesters-buttons {
	border-bottom: 2px solid #BE4F23;
}

.semester-button:hover:not(.selected) {
	background-color: #d9d9d994;
}

.semester-button.selected {
	background-color: #BE4F23;
	color: white;
	transition-duration: 0.25s;
}

.semester-button.selected:hover {
	opacity: 0.9;
}

#display-data-container {
	position: relative;
	height: 100%;
	width: 100%;
}

#display-data-container > div {
	position: relative;
	height: calc(100% - 17px);
	width: 100%;
	padding: 17px 0 0 0;
}

#promotion-table-container {
	grid-template-columns: auto 300px;
}

#promotion-semester-select-wrapper {
	padding: 0 200px 0 100px;
	width: auto;
}

#promotion-semester-select {
	border: none;
	border-bottom: 2px solid #BE4F23;
	width: 100%;
	font-size: 20px;
	color: #BE4F23;
	padding: 10px 0 10px 15px;
	cursor: pointer;
	outline: none;
}

@media screen and (max-width: 1240px) {
	.semester-button {
		width: fit-content;
	}
}

#promotion-table-wrapper {
	display: flex;
	height: calc(100% - 45.5px);
}

#promotion-table {
	margin: 30px auto auto auto;
	width: 80%;
	height: auto;
	border-radius: 3px;
	border: 1px solid #BE4F23;
	border-spacing: 0;
	text-align: center;
}

#promotion-list {
	height: 100%;
}

#promotion-table thead tr th {
	padding: 10px;
	color: white;
	background-color: #BE4F23;
	font-weight: normal;
}

#promotion-table thead tr th:nth-child(1) { width: 110px; }

#promotion-table tbody tr td:nth-child(1) { width: 120px; }

#promotion-table thead tr th:last-child { width: 32px; }
#promotion-table tbody tr td:last-child { width: 32px; }

#promotion-table thead tr {
	border-radius: 3px 3px 0 0;
}

#promotion-table tbody tr td {
	padding: 10px 0;
}

@media screen and (max-height: 696px) {
	#promotion-table {
		margin-bottom: 30px;
	}
}

.default-text {
	font-size: 20px;
	color: #BE4F23;
}

#promotion-filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

#display-mode {
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

#display-mode > div {
	display: flex;
	column-gap: 10px;
	flex-direction: row;
	align-items: flex-start;
}

input[type=radio] {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	height: 1em;
	width: 1em;
	position: relative;
	border: 1px solid #BE4F23;
	border-radius: 50%;
	margin: 0;
	cursor: pointer;
}

input[type=radio]:checked {
	cursor: default;
}

input[type=radio]:checked::before {
	content: "";
	height: calc(1em - 2px);
	width: calc(1em - 2px);
	position: absolute;
	top: -0.5px;
	left: -0.5px;
	background-color: #BE4F23;
	border: 1px solid #BE4F23;
	border-radius: 50%;
}

input[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	height: 1em;
	width: 1em;
	position: relative;
	border: 1px solid #BE4F23;
	margin: 0;
	cursor: pointer;
	outline: none;
}

input[type=checkbox]:checked::before {
	content: "";
	height: calc(1em - 2px);
	width: calc(1em - 2px);
	position: absolute;
	top: -0.5px;
	left: -0.5px;
	background-color: #BE4F23;
	border: 1px solid #BE4F23;
}

#skills-display-container {
	margin-top: 40px;
	width: 100%;
}

#skills-display-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding: 10px;
}

#promotion-filter > :nth-child(1) {
	position: sticky;
	top: 110px;
}