#body-container {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-areas:
		"nav body";
	grid-template-columns: 250px 1fr;
}

#index-nav {
	grid-area: nav;
	background-color: #BE4F23;
	height: 100%;
	width: 250px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	row-gap: 15px;
}

#logo-container > #logo {
	margin: 10px auto;
	position: relative;
}

#logo-container {
	width: 100%;
	height: 90px;
	position: relative;
	display: flex;
}

.nav-button {
	border: none;
	background-color: #BE4F23;
	height: 46px;
	width: 100%;
	color: white;
	cursor: pointer;
	font-size: 16px;
}

.nav-button:hover:not(.selected) {
	background-color: #d9d9d994;
}

#index-nav form.ghost-element {
	width: inherit;
}

#display-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 80px auto;
}

#import-form-container {
	width: 100%;
	height: 100%;
	display: flex;
}

#import-form {
	margin: auto;
	height: 300px;
	width: 500px;
	background-color: #505BF3;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

#form-content-wrapper > div {
	display: flex;
	flex-direction: column;
	height: 50px;
	width: 100%;
}

.nav-button.selected {
	background-color: white;
	color: #BE4F23;
}

#display-header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	/* column-gap: 63px; */
	padding: 0 200px 0 60px;
	justify-content: space-around;
	width: 100%;
}

button {
	cursor: pointer;
}

#display-header > button {
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: bold;
	color: #be4f2382;
	padding: 0 20px 10px 20px;
	transition: color 0.5s;
	position: relative;
}

#display-header > button.selected {
	color: #BE4F23;
	transition: color 0.5s;
}

#display-header > button:hover {
	color: #BE4F23;
	transition: color 0.5s;
}

#display-header > button.selected > .bottom-border {
	border-bottom: 2px solid #BE4F23;
	width: 100%;
	left: 0;
}

.bottom-border {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
}

@keyframes displayBtnHover {
	from {
		border-bottom: 2px solid transparent;
		left: 50%;
		width: 0;
	}
	to {
		border-bottom: 2px solid #BE4F23;
		left: 0;
		width: 100%;
	}
}

@keyframes displayBtn {
	from {
		border-bottom: 2px solid #BE4F23;
		left: 0;
		width: 100%;
	}
	to {
		border-bottom: 2px solid transparent;
		left: 50%;
		width: 0;
	}
}

@keyframes smoothDisplay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.stop-animation {
	animation-duration: 0s !important;
}

#display-header > button:not(.selected):hover > .bottom-border {
	animation-name: displayBtnHover;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}

#display-header > button:not(.selected) > .bottom-border {
	animation-name: displayBtn;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}

#display-data-container > div {
	display: none;
	opacity: 0;
	animation: smoothDisplay ease-in-out 0.25s forwards;
}

#filter-btn {
	width: min-content;
	height: auto;
}

#student-table-container {
	/* padding: 17px 0 0 0; */
	height: calc(100% - 24px);
	width: 100%;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}

#student-search-bar {
	width: 470px;
	height: 23px;
	padding: 0 0 0 50px;
	border-radius: 8px;
	outline: none;
	border: 1px solid #BE4F23;
	position: relative;
	z-index: 5;
}

#student-search-bar::-webkit-input-placeholder {
	color: #be4f2382;
}

#search-bar-wrapper {
	position: relative;
}

#search-bar-wrapper::before {
	content: "";
	position: absolute;
	left: 7px;
	top: 0;
	bottom: 0;
	display: block;
	height: 23px;
	width: 23px;
	background-image: url("../images/loupe.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
	z-index: 10;
}

#search-filter-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 10px;
	justify-content: center;
}

#filter-btn {
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	border-radius: 8px;
	background-color: transparent;
	transition-duration: 0.25s;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

#filter-btn:hover {
	box-shadow: #80808070 0px 0px 5px 0px;
	transition-duration: 0.25s;
}

#filter-btn:active {
	transform: translate(1px, 1px);
}

#filter-btn > img {
	clip-path: polygon(0 12px, 24px 12px, 24px 28px, 0 28px);
}

input[type=search]::-webkit-search-cancel-button {
	cursor: pointer;
}

#student-semesters-selector {
	margin-top: 1em;
}

.semester-button {
	width: 150px;
	height: 37px;
	border: none;
	background-color: transparent;
	color: #BE4F23;
	border-radius: 3px;
	transition-duration: 0.25s;
	font-weight: bold;
}

#semesters-buttons {
	border-bottom: 2px solid #BE4F23;
}

.semester-button:hover:not(.selected) {
	background-color: #d9d9d994;
}

.semester-button.selected {
	background-color: #BE4F23;
	color: white;
	transition-duration: 0.25s;
}

.semester-button.selected:hover {
	opacity: 0.9;
}

#display-data-container {
	position: relative;
	height: 100%;
	width: 100%;
}

#display-data-container > div {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 17px 0 0 0;
}

#promotion-table-container {
	grid-template-columns: auto 300px;
}

#promotion-semester-select-wrapper {
	padding: 0 200px 0 100px;
	width: auto;
}

#promotion-semester-select {
	border: none;
	border-bottom: 2px solid #BE4F23;
	width: 100%;
	font-size: 20px;
	color: #BE4F23;
	padding: 10px 0 10px 15px;
	cursor: pointer;
	outline: none;
}

@media screen and (max-width: 1240px) {
	.semester-button {
		width: fit-content;
	}
}

#promotion-table-wrapper {
	display: flex;
	height: calc(100% - 45.5px);
}

#promotion-table {
	margin: 30px auto auto auto;
	width: 80%;
	height: auto;
}

.type-1-table {
	border-radius: 3px;
	border: 1px solid #BE4F23;
	border-spacing: 0;
	text-align: center;
}

#promotion-list {
	height: 100%;
}

.type-1-table thead tr th {
	padding: 10px;
	color: white;
	background-color: #BE4F23;
	font-weight: normal;
}

#promotion-table > thead > tr > th:nth-child(1) { width: 110px; }

#promotion-table > tbody > tr > td:nth-child(1) { width: 120px; }

#promotion-table > thead > tr > th:last-child,
#promotion-table > tbody > tr > td:last-child {
	width: 32px;
	padding-right: 10px;
	padding-left: 10px;
}

#promotion-table > tbody > tr > td:last-child {
	cursor: pointer;
}

#promotion-table > tbody > tr > td:last-child:hover {
	background-color: red;
}

#promotion-table > thead > tr {
	border-radius: 3px 3px 0 0;
}

.type-1-table > tbody > tr > td {
	padding: 10px 0;
}

@media screen and (max-height: 696px) {
	#promotion-table {
		margin-bottom: 30px;
	}
}

.default-text {
	font-size: 20px;
	color: #BE4F23;
}

#promotion-filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: sticky;
	top: 60px;
	align-self: flex-start;
}

#display-mode {
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

#display-mode > div {
	display: flex;
	column-gap: 10px;
	flex-direction: row;
	align-items: flex-start;
}

input[type=radio] {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	height: 1em;
	width: 1em;
	position: relative;
	border: 1px solid #BE4F23;
	border-radius: 50%;
	margin: 0;
	cursor: pointer;
}

input[type=radio]:checked {
	cursor: default;
}

input[type=radio]:checked::before {
	content: "";
	height: calc(1em - 2px);
	width: calc(1em - 2px);
	position: absolute;
	top: -0.5px;
	left: -0.5px;
	background-color: #BE4F23;
	border: 1px solid #BE4F23;
	border-radius: 50%;
}

input[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	height: 1em;
	width: 1em;
	position: relative;
	border: 1px solid #BE4F23;
	margin: 0;
	cursor: pointer;
	outline: none;
}

input[type=checkbox]:checked::before {
	content: "";
	height: calc(1em - 2px);
	width: calc(1em - 2px);
	position: absolute;
	top: -0.5px;
	left: -0.5px;
	background-color: #BE4F23;
	border: 1px solid #BE4F23;
}

#skills-display-container {
	margin-top: 40px;
	width: 100%;
}

#skills-display-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding: 10px;
}

#semester-details-container,
#semester-validation-container {
	margin-top: 40px;
	width: 100%;
	padding: 0 10px;
}

.type-2-button {
	all: initial;
	font-family: inherit;
	background-color: #BE4F23;
	color: white;
	border-radius: 5px;
	padding: 10px 50px;
	cursor: pointer;
	user-select: none;
}

.type-2-button:hover {
	background-color: #c7653e;
}

.uppercase {
	text-transform: uppercase;
}

#timestamp-container,
#export-btn {
	margin-top: 40px;
}

#timestamp-wrapper {
	padding-left: 30px;
	margin-top: 10px;
}

#timestamp-wrapper > input {
	all: initial;
	height: 18px;
	width: 80px;
	border-bottom: 1px solid black;
	font-family: inherit;
	padding: 1px;
}

.no-data {
	width: fit-content;
	height: fit-content;
	margin: auto;
}

/* TEST */

#import-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	position: relative;
}

#import-container {
	width: 100%;
	margin: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: start;
}

.import-box h2,
.import-box h3 {
	color: #be4f23;
	text-align: center;
}

.import-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.import-files {
	background-color: #D9D9D9;
	padding: 20px;
	border-radius: 10px;
	/* margin-top: 20px; */
	/* margin-right: auto; */ /* Pousse l'élément vers la droite */
	/* margin-left: 0; */ /* Assure que l'élément est aligné à droite */
	/* width: 75%; */ /* Définit une largeur pour l'élément */
	display: block; /* Assure que l'élément est traité comme un bloc */
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.import-box .semester,
.import-box .semester-year {
	border: none; /* Supprime la bordure par défaut */
	border-bottom: 1px solid #be4f23; /* Ajoute une bordure inférieure */
	background-color: transparent; /* Rend l'arrière-plan transparent */
	width: 50px; /* Définit la largeur de l'input */
	outline: none;
	text-size-adjust: 50px; /* Ajuste la taille du texte */
}

#add-semester-button-container {
	height: 230px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#add-semester-button {
	margin: auto;
}

.file-input {
	position: relative;
	visibility: hidden;
	height: 30px;
	width: 200px;
}

.file-input::before {
	content: attr(data-before);
	height: 30px;
	width: 200px;
	background-color: white;
	visibility: visible;
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
	text-overflow: ellipsis;
}

.file-input:hover::before {
	background-color: #f0ecec;
}

.import-files > div {
	display: flex;
	column-gap: 5px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#commission-table-container {
	width: 100%;
	height: calc(100% - 24px);
	grid-template-columns: auto 300px;
	grid-template-rows: 1fr;
}

#fields-form {
	width: auto;
	height: 100%;
	padding-top: 50px;
	display: grid;
	grid-template-areas:
		"logo1 year"
		"logo2 name"
		"signature empty";
	padding: 0 0 0 300px;
	justify-items: center;
	align-items: center;
	transform: scale(0.9);
}

.default-fieldset {
	all: initial;
	font-family: inherit;
	display: flex;
	flex-direction: column;
}

.default-box {
	background-color: #D9D9D9;
	padding: 15px 60px 15px 15px;
	margin-top: 10px;
}

#fields-form > fieldset > label {
	font-weight: bold;
}

#logo-1-set {
	grid-area: logo1;
}

#logo-2-set {
	grid-area: logo2;
}

#signature-set {
	grid-area: signature;
}

#year-set {
	grid-area: year;
}

#department-head-set {
	grid-area: name;
}

#fields-form .default-fieldset {
	width: 274px;
}

.default-fieldset > .default-box {
	width: inherit;
	height: 60px;
}

#fields-form .default-fieldset input[type=text],
#fields-form .default-fieldset input[type=number] {
	border: none;
	border-bottom: 1px solid #be4f23;
	background-color: transparent;
	width: 150px;
	outline: none;
}

#commission-button-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 45px;
}

#commission-button-container button {
	width: 100px;
	text-align: center;
}

#student-table-button-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: auto 300px;
}

#commission-button-container-2 {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.collapsible-content {
	/* border: 2px solid gray; */
	/* border-radius: 10px; */
	/* background-color: whitesmoke; */
	padding: 10px;
	transform-origin: top;
	clear: both;
}

.collapsible-show {
	color: #BE4F23;
	cursor: pointer;
	display: inline-block;
	user-select: none;
	border-bottom: 2px solid #BE4F23;
	width: 100%;
	font-size: 20px;
	padding: 10px 0 10px 15px;
	position: relative;
}

.hidden {
	display: none !important;
}

#student-table-wrapper {
	padding: 0 0 0 250px;
	display: flex;
	flex-direction: column;
}

#page-content > div {
	display: none;
	height: 100%;
	width: 100%;
}

:focus-visible {
	outline: none;
}

#semester1,
#semester2,
#semester3,
#semester4,
#semester5,
#semester6 {
	display: none;
}

#student-table-wrapper > div {
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
}

#page-content {
	width: 100%;
}

@media screen and (max-width: 1104px) {
	#fields-form {
		padding-left: 10%;
	}
	#commission-table-container {
		grid-template-columns: auto 15%;
	}
	#commission-button-container button {
		width: auto;
	}
	.type-2-button {
		padding: 10px 15px;
	}
}

#import-modal-container {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.type-2-button:disabled {
	pointer-events: none;
	opacity: 0.5;
}

.collapsible-show::after {
	content: "V";
	display: block;
	width: 45px;
	height: 45px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	line-height: 45px;
}

.collapsible-show.invert::after {
	transform: rotate(180deg);
}

.collapsible-content > .type-1-table {
	width: 100%;
	table-layout: fixed;
}

.collapsible-content > .type-1-table td {
	height: 38px;
}

@media screen and (max-height: 738px) {
	#student-table-wrapper > div > div:last-child {
		margin-bottom: 15px;
	}
}