#form-wrapper {
	grid-row: 2;
	display: flex;
	height: 100%;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#login-form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	margin: 0;
	align-items: center;
}

#login-form > div[id*=-wrapper] {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px
}

#login-form label {
	font-size: 22px;
	text-align: center;
	margin-bottom: 6px;
}

#login-form input[type=text],
#login-form input[type=password] {
	border: none;
	border-radius: 10px;
	height: 30px;
	outline: none;
	padding: 0 10px;
	background-color: #BFCFE7;
}

#login-form input[type=submit] {
	cursor: pointer;
	border-radius: 10px;
	border: none;
	height: 30px;
	width: 100px;
	font-size: 14px;
	font-weight: 500;
	background-color: #BFCFE7;
	transition-duration: 0.3s;
}

#login-form input[type=submit]:hover {
	background-color: #8BB8D6;
	transition-duration: 0.3s;
}

#form-container {
	display: grid;
	grid-template-rows: repeat(4, auto);
	height: 100%;
}